<h1>Disaster List</h1>

<table>
  <thead>
  <td>title</td>
  <td>content</td>
  <td>address</td>
  <td>action</td>
  </thead>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.address %></td>
      <td>
        <%= link_to 'Show', post_path(post) %>
        <%= link_to 'Edit', edit_post_path(post) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_post_path %>